.logo {
  font-family: var(--font-logo), sans-serif;
}

.navbar {
  border-bottom-color: var(--clr-border-header);
  background-color: var(--clr-white);
}

.font-family-1 {
  font-family: var(--font-family-1), cursive;
}
