<nav class="navbar border-b-2">
  <div class="container mx-auto">
    <div class="flex bg">
      <div class="w-[25%] py-5">
        <h1 class="logo text-[24px] italic capitalize">{{ logo }}</h1>
      </div>
      <div class="w-[50%] py-5">
        <ul class="flex justify-center gap-[32px]">
          @for (page of pages; track page){
            <li class="">
              <a routerLink="{{ page === 'home' ? '' : page === 'about us' ? 'about' : page }}" class="text-[18px] capitalize cursor-pointer font-family-1 font-bold italic page-hover">{{ page }}</a>
            </li>
          }
        </ul>
      </div>
      <div class="w-[25%] py-5">
        <div class="flex gap-[40px] justify-end items-center">
          @for (icon of icons; track icon){
            <a class="cursor-pointer">
              <i class="fa-brands {{ icon }} text-[23px]"></i>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</nav>
