<div class="pt-[100px]">

  <div class="container mx-auto">
    <div class="flex">
      <div class="w-[70%] flex flex-col gap-8">
        <h1 class="font-family-2 capitalize text-[40px]">{{ title }}</h1>
        <div class="flex gap-[50px]">

          <div class="flex gap-3 items-center">
            <div
              class="w-[70px] h-[70px] bg-cover bg-no-repeat bg-center bg-border-box rounded-full"
              [style.background-image]="'url('+path_image+'/users/'+profile+')'"
            ></div>
            <div>
              <h3 class="font-semibold text-[18px] italic capitalize font-family-2">{{ full_name }}</h3>
              <p class="color-gray-opacity-06 text-[15px] font-family-2">{{ createdAt ?? '' | date: 'MMM dd, yyyy' }}</p>
            </div>
          </div>

          <div class="flex gap-3 items-center">
            <div class="w-[54px] p-2">
              <img
                ngSrc="assets/images/clock.png"
                alt="recipe"
                height="512" width="512"/>
            </div>
            <div>
              <h3 class="font-semibold text-[18px] italic capitalize font-family-2">prep time</h3>
              <p class="color-gray-opacity-06 text-[15px] font-family-2">{{ prep_time }} minutes</p>
            </div>
          </div>

          <div class="flex gap-3 items-center">
            <div class="w-[54px] p-2">
              <img
                ngSrc="assets/images/cooking.png"
                alt="recipe"
                height="512" width="512"/>
            </div>
            <div>
              <h3 class="font-semibold text-[18px] italic capitalize font-family-2">cook time</h3>
              <p class="color-gray-opacity-06 text-[15px] font-family-2">{{ cook_time }} minutes</p>
            </div>
          </div>

          <div class="flex gap-1 items-center capitalize w-auto px-3 rounded-[14px]">
            <div class="w-[54px] p-2">
              <img
                [ngSrc]="path_image+'/categories/'+category_image"
                alt="recipe"
                width="512"
                height="512"
                class="w-full h-full"
              />
            </div>
            <p class="font-family-2 text-[20px] italic">{{ category_title }}</p>
          </div>

        </div>
      </div>
      <div class="w-[30%] flex gap-3 justify-end items-center">
        @for(icon of icons; track icon){
          <div class="bg-primary rounded-full w-[50px] h-[50px] flex justify-center items-center">
            <i [class]="'pi pi-'+icon" class="text-[19px] cursor-pointer active:scale-[0.9]"></i>
          </div>
        }
      </div>
    </div>
  </div>

</div>
