<div class="container mx-auto">
  <div class="border-b-2 border-primary">
    <div class="flex justify-end">
      <div class="w-[50%] py-5">
        <h1 class="logo text-[24px] italic capitalize">{{ logo }}</h1>
        <p class="font-family-2 italic color-gray-opacity-06">Lorem ipsum dolor sit amet, consectetuipisicing elit, </p>
      </div>
      <div class="w-[50%]">
        <div class="flex gap-10 items-center justify-end h-full">
          @for (page of pages; track page) {
            <button
              routerLink="/{{ page === 'about' ? '/about' : page }}"
              class="text-[20px] capitalize font-family-2 cursor-pointer nav-hover"
            >
              {{ page }}
            </button>
          }
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="py-[25px] relative">
      <h3 class="text-center font-family-2 text-[16px]">{{ copyright }}</h3>
      <div class="flex items-center gap-4 absolute top-0 right-0 h-full">
        @for(icon of icons; track icon){
          <a class="">
            <i [class]="'fa-brands '+icon" class="text-[23px]"></i>
          </a>
        }
      </div>
    </div>
  </div>
</div>
