<div class="container mx-auto bg-primary h-[442px] rounded-[30px]">

  <div class="flex h-full ">
    <div class="w-[25%] h-auto flex items-center">
      <div>
        <img ngSrc="/assets/images/inbox-image-1.png" alt="index image 1" width="1200" height="1200" priority />
      </div>
    </div>
    <div class="w-[50%] h-auto flex flex-col gap-8 items-center justify-center">
      <h1 class="first-letter:capitalize font-family-2 text-[37px] text-center italic">deliciousness to your inbox</h1>
      <div class="w-[75%] mx-auto">
        <p class="text-center color-gray-opacity-06">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
      </div>
      <div class="flex mx-[70px] items-center my-5 relative">
        <input type="text" placeholder="Your email address..." class="bg-white py-6 ps-3 w-[540px] outline-0 border-1 border-primary rounded-tr-[15px] rounded-br-[15px] rounded-tl-md rounded-bl-md" />
        <div class="absolute right-1">
          <app-button-black [title]="'subscribe'" [icon]="'fa-solid fa-plus'"></app-button-black>
        </div>
      </div>
    </div>
    <div class="w-[25%] h-auto flex items-center">
      <div>
        <img ngSrc="/assets/images/inbox-image-2.png" width="1200" height="1200" alt="index image 1" />
      </div>
    </div>
  </div>

</div>
