<div class="container mx-auto">
  <div class="mx-auto">
    <p-carousel [value]="categories()" [numVisible]="8" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
      <ng-template let-category #item let-i="index">
        <div class=" rounded-sm w-[150px] flex justify-between flex-col items-center py-2 px-3">
          <div class="w-[90px] h-[100px]">
            <img
              [ngSrc]="path_image+'/categories/'+category?.category_image"
              alt="{{ category?.category_title }}"
              class=""
              width="512" height="512"
            >
          </div>
          <h3 class="font-family-2 capitalize font-[600] mt-5 italic">{{ category?.category_title }}</h3>
        </div>
      </ng-template>
    </p-carousel>

  </div>
</div>
