<footer class="container mx-auto w-[91%]">
  <div class="flex gap-2 items-center justify-end">
    <button
      [disabled]="page === 0"
      (click)="decrement()"
      class="flex justify-center items-center cursor-pointer active:scale-[0.9]">
      <i class="pi pi-angle-left" style="font-size: 1.5rem"></i>
    </button>
    <div
      class="flex justify-center items-center">
      <p class="font-family-2 text-[18px]">{{ page + 1 }} / {{ lastPage }}</p>
    </div>
    <button
      [disabled]="page +1 == lastPage"
      (click)="increment()"
      class="flex justify-center items-center cursor-pointer active:scale-[0.9]">
      <i class="pi pi-angle-right" style="font-size: 1.5rem"></i>
    </button>
  </div>
</footer>
