<section>
  <app-hero [recipe]="recipes()" [path_image]="path_image"></app-hero>
</section>
<section class="my-10">
  <app-category [path_image]="path_image"></app-category>
</section>
<section class="mt-[160px]">
  <app-recipes [recipes]="recipes()" [path_image]="path_image"></app-recipes>
</section>
<section class="my-10">
  <app-learn-more></app-learn-more>
</section>
<section class="mt-[160px]">
  <app-instagram></app-instagram>
</section>
<section class="mt-[160px]">
  <app-recipes2 [recipes]="recipes_without_bg()" [path_image]="path_image" [title]="'Try this delicious recipe to make your day'"></app-recipes2>
</section>
<section class="my-[160px]">
  <app-inbox></app-inbox>
</section>
